* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.popup {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popup::before {
  content: "";
  background-color: rgba(10, 9, 9, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup.open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.content-popup {
  background-color: #fff;
  z-index: 12;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 50px;
  border-radius: 50px;
}

.content-popup__text {
  font-size: 26px;
  line-height: 140%;
  text-align: center;
}

.content-popup__text:not(:last-child) {
  margin-bottom: 25px;
}

.content-popup__button {
  z-index: 12;
  font-size: 26px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.btn {
  padding: 10px 18px;
  border-radius: 15px;
  background-color: #2e2d07;
  color: white;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-page__title {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.main-page__title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.main-page__content {
  margin: 60px 0px 80px 0px;
}

.main-page__body {
  margin: 0px auto 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-page__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10px;
}

.main-page__buttons:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.field-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.field-main:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.field-main__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.field-main__time:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.field-main__body {
  background-color: #d8d4d4;
  width: 100%;
  padding-bottom: 100%;
}

.field-main__body:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.field-main__frame-size {
  font-size: 18px;
}

.field-main__frame-size:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.time-field__move {
  font-size: 26px;
  font-weight: 600;
}

.time-field__time {
  font-size: 26px;
  font-weight: 600;
}

.body-field {
  position: relative;
}

.body-field__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  background-color: #f8f4f4;
  color: black;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.sound:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.sound__text {
  font-size: 24px;
  font-weight: 600;
}

.sound__off {
  background-color: #fd0404;
}

.sound__off.active {
  background-color: #04fd04;
}

.sound__on {
  background-color: #fd0404;
}

.sound__on.active {
  background-color: #04fd04;
}

.other-size {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.other-size__test {
  font-size: 18px;
  font-weight: 600;
}

.btnSize {
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 1170px) {
  .content-popup__text {
    font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  }

  .content-popup__text:not(:last-child) {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 850));
  }

  .content-popup__button {
    font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  }

  .main-page__title {
    font-size: calc(22px + 6 * ((100vw - 320px) / 850));
  }

  .field-main__time {
    gap: calc(10px + 20 * ((100vw - 320px) / 850));
  }

  .time-field__move {
    font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  }

  .time-field__time {
    font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  }

  .body-field__item {
    font-size: calc(20px + 12 * ((100vw - 320px) / 850));
  }

  .other-size__test {
    font-size: calc(16px + 2 * ((100vw - 320px) / 850));
  }

  .btnSize {
    font-size: calc(16px + 2 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 767.98px) {
  .main-page__body {
    width: 90%;
  }

  .field-main {
    width: 90%;
  }
}

@media (max-width: 479.98px) {
  .content-popup {
    padding: 30px 30px;
  }

  .main-page__body {
    width: 100%;
    margin: 30px auto 15px auto;
  }

  .field-main {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #7e0707;
  }

  .sound__off:hover {
    background-color: none;
  }

  .sound__on:hover {
    background-color: none;
  }

  .btnSize:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}